{% extends "base.html" %}
{% load static %}

{% block 'cabecalho' %}

    <link href="{% static 'users/css/create_user.css' %}" rel="stylesheet">
    <link href="{% static 'flashcards/css/create_flashcard.css' %}" rel="stylesheet">
    <link href="{% static 'challenges/css/start_challenge.css' %}" rel="stylesheet">
    <link href="{% static 'challenges/css/challenge.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

{% endblock 'cabecalho' %}


{% block 'conteudo' %}
    {% include 'global/partials/header.html' %}
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md">
                <form action="{% url 'challenges:list' %}" method="GET">
                    <label for="{% url 'challenges:list' %}">Categoria</label>
                    <div class="col-md">
                        <select name="category" class="form-select">
                            <option value="" >---</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}" >{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="col-md">
                        <label for="">Dificuldade</label>
                        <select name="difficulty" class="form-select">
                            <option value="" >---</option>
                            {% for difficulty in difficulties %}
                                <option value="{{ difficulty.0 }}" >{{ difficulty.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md">
                        <br>
                        <input type="submit" value="Filtrar" class="btn-cadastro">
                    </div>
                </form>
            </div>
        </div>
        <br>
        <br>
        <div class="box-listar">
            <table>
                <thead>
                  <tr>
                    <th scope="col">Desafio</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Dificuldade</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% if challenges %}
                      {% for challenge in challenges %}
                          <tr class="linha">
                              <th row><a href="{% url 'challenges:detail' challenge.id %}">{{challenge.id}}</a></th>
                              <td>{{challenge.title}}</td>
                              <td>{{challenge.get_difficulty_display}}</td>
                              <td>
                                  {% if challenge.answered %} respondido {% else %} não respondido {% endif %}
                                  <a href="{% url 'challenges:remove' challenge.id %}">
                                      <i class='bx bxs-x-circle' style='color:#e40101;cursor: pointer'> </i>
                                  </a>
                             </td>
                          </tr>
                      {% endfor %}
                    {% else %}
                         <tr class="linha">
                           <td>---</td>
                           <td>---</td>
                           <td>---</td>
                           <td>---</td>
                         </tr>
                    {% endif %}
                </tbody>
              </table>
        </div>
    </div>
    <script src="{% static 'flashcards/js/flashcard.js' %}"></script>
{% endblock 'conteudo' %}
